<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Vifth Floor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <!-- Bootstrap -->
        <link href="../../assets/css/style.css" rel="stylesheet" media="screen">
        <script src="../../assets/js/jquery-latest.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
        <!-- <script type="text/javascript" src="../../assets/js/bootstrap-lightbox.js"></script> -->
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            $(function() {
                $("header").load("header.html");
                $("footer").load("footer.html");
            });
        </script>

        <!-- fancybox -->
        <!-- Add mousewheel plugin (this is optional) -->
        <script type="text/javascript" src="../../assets/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>

        <!-- Add fancyBox -->
        <link rel="stylesheet" href="../../assets/fancybox/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
        <script type="text/javascript" src="../../assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>

        <!-- Optionally add helpers - button, thumbnail and/or media -->
        <link rel="stylesheet" href="../../assets/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
        <script type="text/javascript" src="../../assets/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
        <script type="text/javascript" src="../../assets/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

        <link rel="stylesheet" href="../../assets/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
        <script type="text/javascript" src="../../assets/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                $(".fancybox").fancybox({
                    helpers: {
                        overlay: {
                            locked: false
                        }
                    }
                });
            });
        </script>
    </head>
    <body>
        <div id="container">
            <header></header>
            <div id="main">
                <div class="game-image">
                    <img class="img-responsive" src="../../assets/images/satu.jpg">
                </div>
                <div class="game-about">
                    <p>Monsters terrorize Grandma’s backyard, and now she is pissed. Join grandma to shoot and repel the unending wave of monsters!</p>
                    <p>Backyard Madness is a casual action game about tapping the mutant invasion to Granny’s Backyard. Available for OVI Store and is also adaptable to various feature phones.</p>

                    <ul>
                        <li>Feature 1</li>
                        <li>Feature 2</li>
                        <li>Feature 3</li>
                        <li>Feature 4</li>
                    </ul>
                </div>
                <div class="game-screenshot">
                    <div class="row atas">
                        <div class="col-md-6">
                            <a class="fancybox" rel="group" href="../../assets/images/satu.jpg">
                                <img class="img-responsive" src="../../assets/images/satu.jpg">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a class="fancybox" rel="group" href="../../assets/images/satu.jpg">
                                <img class="img-responsive" src="../../assets/images/satu.jpg">
                            </a>
                        </div>
                    </div>
                    <div class="row bawah">
                        <div class="col-md-6">
                            <a class="fancybox" rel="group" href="../../assets/images/satu.jpg">
                                <img class="img-responsive" src="../../assets/images/satu.jpg">
                            </a>
                        </div>
                        <div class="col-md-6">
                            <img class="img-responsive" src="../../assets/images/satu.jpg">
                        </div>
                    </div>
                </div>
                <div class="game-available">
                    <p>Available On</p>
                </div>
            </div>
            <footer></footer>
        </div>
    </body>
</html>
