<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Vifth Floor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <!-- Bootstrap -->
        <link href="../../assets/css/style.css" rel="stylesheet" media="screen">
        <script src="../../assets/js/jquery-latest.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            $(function() {
                $("header").load("header.html");
                $("footer").load("footer.html");
            });
        </script>
    </head>
    <body>
        <div id="container">
            <header class="margin-bottom-30"></header>
            <div id="main-container">
                <div class="container">
                    <div class="news-title margin-bottom-50">
                        <h1>NEWS</h1>
                    </div>
                    <div class="row margin-bottom-30">
                        <div class="col-sm-3">
                            <img class="img-responsive" src="../../assets/images/icon1.png">
                        </div>
                        <div class="col-sm-9 news-content">
                            <h2><a href="news-details.html">WHAT IS INTERACTION DESIGN?</a></h2>
                            <p>"When you’re a carpenter making a beautiful chest of drawers, you’re not going to use a piece of plywood on the back, even though it faces the wall and nobody will ever see it. You’ll know it’s there, so you’re going to use a beautiful piece of wood in the back. For you to sleep well at night, the aesthetic, the quality, has to be carried all the way through." (Steve Jobs)</p>
                            <a href="news-details.html" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="border-bottom-dashed-2 margin-bottom-30"></div>
                    <div class="row margin-bottom-30">
                        <div class="col-sm-3">
                            <img class="img-responsive" src="../../assets/images/icon2.png">
                        </div>
                        <div class="col-sm-9 news-content">
                            <h2><a href="news-details.html">Weekly HCI Quote</a></h2>
                            <p>"It is not enough that we build products that function, that are understandable and usable, we also need to build products that bring joy and excitement, pleasure and fun, and yes, beauty to people's lives." (Don Norman)</p>
                            <a href="news-detail.html" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    <div class="border-bottom-dashed-2 margin-bottom-30"></div>
                    <div class="row margin-bottom-30">
                        <div class="col-sm-3">
                            <img class="img-responsive" src="../../assets/images/icon3.png">
                        </div>
                        <div class="col-sm-9 news-content">
                            <h2><a href="news-details.html">100 Things Every Designer Needs to Know About People (Voices That Matter)</a></h2>
                            <p>"What makes people passionate, pure and simple, is great experiences. If they have great experience with your product [and] they have great experiences with your service, they’re going to be passionate about your brand, they’re going to be committed to it. That’s how you build that kind of commitment." (Jesse James Garrett)</p>
                            <a href="news-details.html" class="read-more-link">Read More</a>
                        </div>
                    </div>
                    
                    <div class="text-center">
                        <ul class="pagination">
                            <li><a href="#">&laquo;</a></li>
                            <li><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <footer></footer>
        </div>
    </body>
</html>
