<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Vifth Floor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <!-- Bootstrap -->
        <link href="../../assets/css/style.css" rel="stylesheet" media="screen">
        <script src="../../assets/js/jquery-latest.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="../../assets/js/bootstrap.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script>
            $(function() {
                $("header").load("header.html");
                $("footer").load("footer.html");
            });
        </script>
    </head>
    <body>
        <div id="container">
            <header class="margin-bottom-30"></header>
            <div id="main-container">
                <div class="container">
                    <div class="news-detail">
                        <div class="news-detail-title margin-bottom-30">
                            <h1>WHAT IS INTERACTION DESIGN?</h1>
                            <p class="posted">Posted Oct 11, 2014</p>
                        </div>

                        <div class="margin-bottom-30">
                            <img class="img-responsive" src="../../assets/images/tiga.jpg">
                        </div>

                        <article>
                            <p>Out this morning from Microsoft’s chief is a quote calling the Surface Pro 3 an “enterprise-class device,” saying that the company is “putting its full and sustained support behind the ongoing Surface program.”</p>
                            <p>As part of that announcement, the company promised that peripherals that shipped to support the Surface Pro 3 will work for the next Pro device. When Microsoft moved from the Surface Pro 2 tablet design, to the Surface Pro 3, old peripherals became too small, in many cases — the Surface Pro 3 has a much larger screen.</p>
                            <p>So, Microsoft has made a public pact that the Surface project is here to stay, and that the Pro line has more or less gelled in its form factor. It’s a simple pitch to the enterprise: Your investment in the line of Surface products is a safe one, as is your investment in current hardware itself.</p>
                            <p>That Surface is not being cancelled is roughly as surprising as being tired in the morning. As TechCrunch wrote recently, Microsoft is more than willing to pour capital into a project if it can see future profitability, and the effort has strategic importance. What’s the point of being a rich incumbent, naturally, if you can’t weaponize your cash advantage?</p>
                        </article>

                        <div class="text-center">
                            <ul class="pagination">
                                <li><a href="#">&laquo;</a></li>
                                <li><a href="#">&raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <footer></footer>
        </div>
    </body>
</html>
